################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Level1_AsyncConcurrency/obj
/Level2_ParallelCPU/obj
/Level3_TaskThreadPool/obj
/Level4_MixedModel/obj
/.vs/ConcurrencyLab/DesignTimeBuild
/.vs/ConcurrencyLab

/.vs/ProjectEvaluation
